body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

header {
    position: relative;
    padding: 0 2rem;
    background-color: #111111;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    height: auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 4px;
}

.logoContainer:hover{
    cursor: pointer;
}

header h1 {
    color: white;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.5px;
    border-right: 1px solid gray;
    margin: 0;
}

#asterik {
    width: 24px;
    height: 24px;
}

.rotate-multiple {
    animation: rotateSpin 0.5s ease-in-out 1;
}

@keyframes rotateSpin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

#DOLogo {
    width: 25px;
    height: 25px;
    padding: 0 0.3rem;
}

#navText {
    color: #bdc3c7;
    font-size: 11px;
}

.white{
    color: white;
}

.navCatagories {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:2rem;
    margin-left: 3rem;
    overflow-x: auto;
    overflow-y: hidden;
}

.navLinks {
    box-sizing: border-box;
    padding: 1rem 0;
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-size: 1rem;
}

.navLinks:hover {
    background-color: #292929;
    color: orange
}

#searchIcon {
    position: absolute;
    top:2%;
    right: 3%;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 999;
}

#searchIcon:hover {
    background-color: #AEAEAE;
}

@media only screen and (max-width: 983px) {
    .navCatagories{
        margin-left: 0;
    }
}

@media only screen and (max-width: 320px) {
    header h1{
        font-size: 1rem;
    }
}