.sliderContainer{
    display: flex;
    margin-top: 25px;
    padding-bottom: 5.6rem;
    justify-content: left;
    align-items: stretch;
}

.left{
    max-width: 16rem;
    display: flex;
    flex-direction: column;
}

.gradientBorder {
    background-image: linear-gradient(to bottom right, #ff8a00, #e52e71,rgb(73, 73, 147));
    border-radius: 16px;
    padding: 5px;
    
}

.content {
    background: #000000;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    padding: 20px 80px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 20.5rem;
}

.content h3{
    font-size: 35px;
    color: white;
    margin-bottom: 1px;
}

.content p{
    color: white;
}

.content a{
    text-decoration: none;
}

.content a:hover{
    color: #0081BC;
}

.right{
    max-width: 69vw;
    margin-left: 1px;
}

.cardContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 3rem;
    padding: 2rem 0 2rem 20px; /* Added top and bottom padding to accommodate transforms */
    overflow-x: auto;
    overflow-y: visible; 
    scrollbar-color: #919191 #201C29;
    /* Force scrollbar to always show */
    -webkit-overflow-scrolling: touch;
}

.cardContainer::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.card{
    flex: 0 0 auto;
    width: 15rem;
    height: 18rem;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 
        0rem 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    background-color: #363636;
    transition: 0.2s all linear;
}

.card + .card{
    margin-left: -14%;
}

.card:hover{
    transform: rotate(5deg) translateY(-10px);
}

/* Fixed the cascade effect */
.card:hover ~ .card{
    transform: translateX(7rem);
    z-index: 1;
}

.cardArticle{
    color: white;
    font-size: large;
}

.cardDate{
    color: gray;
    font-weight: lighter;
}

.cardMiddle{
    font-size: 1.5rem;
    color: white;
}

.cardMiddle:hover{
    color: lightgray;
    cursor: pointer;
}

.card a{
    text-decoration: none;
    color: orange;
    display: block;
}

.card a:hover{
    color: #f7ab70;
}

@media only screen and (max-width: 768px) {
    .right{
        max-width: 69vw;
        margin-left: 1px;
    }
}