.sliderContainer{
    display: flex;
    margin-top: 25px;
    padding-bottom: 5.6rem;
    justify-content: left;
    flex-shrink: 0;
}

.left{
    margin-top: 1.6rem;
    max-width: 16rem;
    display: flex;
    flex-direction: column;
}

.gradientBorder {
    background-image: linear-gradient(to bottom right, #ff8a00, #e52e71,rgb(73, 73, 147));
    border-radius: 16px;
    padding: 5px;
    
}

.content {
    background: #000000;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    padding: 20px 80px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 20.5rem;
}

.content h3{
    font-size: 35px;
    color: white;
    margin-bottom: 1px;
}

.content p{
    color: white;
}

.content a{
    text-decoration: none;
}

.content a:hover{
    color: #0081BC;
}

.right{
    display: flex;
    justify-content: flex-start;
    margin-left: 1px;
    flex: 1;
    overflow-x: hidden;
    flex-shrink: 0;
}

.cardContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    padding: 2rem 0 2rem 20px; /* Added top and bottom padding to accommodate transforms */
    overflow-x: auto;
    overflow-y: hidden;
    
}

.cardContainer::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.card{
    width: 15rem;
    height: 18rem;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.85);
    background: linear-gradient(to right, #414141, #1D1D1D);
    transition: 0.2s all linear;
    flex-shrink: 0;
}

.card + .card{
    margin-left: -14%;
}

.card:hover{
    transform: rotate(5deg) translateY(-10px);
}

.card:hover ~ .card{
    transform: translateX(6rem);
    z-index: 1;
}

.cardArticle{
    color: white;
    font-size: large;
}

.cardDate{
    color: gray;
    font-weight: lighter;
}

.cardMiddle{
    font-size: 1.5rem;
    color: white;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
}

.cardMiddle:hover{
    color: lightgray;
    cursor: pointer;
}

.card a{
    text-decoration: none;
    color: orange;
    display: block;
}

.card a:hover{
    color: #f7ab70;
}

.straightLine{
    margin-top: 2rem;
    height: 21rem;
    width: 0.3rem;
    background: linear-gradient(to bottom, #ff8a00, #e52e71,rgb(73, 73, 147));
}

@media only screen and (max-width: 768px) {
    .straightLine{
        display: none;
    }

    .left{
        width: 10rem;
    }
}